.photos {
  @apply relative left-1/2 right-1/2 -mx-[50vw] h-auto w-[100vw] max-w-none;
}

.grid {
  @apply m-auto my-16;

  column-gap: 16px;
  columns: 4 300px;
  width: min(70%, 100%);
}

.figure {
  @apply relative flex items-start justify-center;

  .image {
    @apply mb-4 rounded-lg p-1;
    @apply hover:cursor-zoom-in;
  }
}
