.body {
  font-size: inherit;
}

.caption {
  font-size: 0.85em;
}

.links {
  font-size: inherit;
  margin-block: var(--mantine-spacing-xl);
}

a.proseLink {
  text-decoration: underline;
}

.sectionTitle {
  border-top: 1px solid var(--mantine-color-default-border);
  font-size: 1.5em;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
}

.subheading {
  font-size: 1.25em;
}

.timeline {
  margin-block: var(--mantine-spacing-xl);
}

.title {
  font-size: clamp(1.6rem, 4vw + 0.5rem, 2.6rem);
  margin-bottom: var(--mantine-spacing-xl);
  text-align: center;
}

.wrapper {
  font-size: clamp(
    var(--mantine-font-size-md),
    1.5vw + 0.5rem,
    var(--mantine-font-size-xl)
  );
  margin: 0 auto;
  max-width: 700px;
  word-wrap: break-word;
}
