:root {
  --button-highlight: #fff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --link-blue: #00f;
  --border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
  --scroll-size: 1rem;
  --ms-font: 'MS Sans Serif', sans-serif;
  --comic-font: 'Comic Sans', sans-serif;
  --window-frame: #0a0a0a;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: local('MS Sans Serif'), url('ms_sans_serif.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: local('MS Sans Serif'), url('ms_sans_serif_bold.woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Sans';
  src: local('Comic Sans'), url('comic_sans.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Sans';
  src: local('Comic Sans'), url('comic_sans_bold.woff2');
  font-weight: bold;
  font-style: normal;
}

::-webkit-scrollbar {
  width: var(--scroll-size);
}

::-webkit-scrollbar:horizontal {
  height: var(--scroll-size);
}

::-webkit-scrollbar-corner {
  background: var(--button-face);
}

::-webkit-scrollbar-track {
  background-image: url('scrollbar-background.svg');
}

::-webkit-scrollbar-thumb {
  background-color: var(--button-face);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  background-image: url('button-up.svg');
  height: var(--scroll-size);
}

::-webkit-scrollbar-button:vertical:end {
  background-image: url('button-down.svg');
  height: var(--scroll-size);
}

body {
  background: url('background.webp') repeat fixed;
  color: white;
  font-family: var(--comic-font);
}

h1,
h2,
h3 {
  font-family: var(--ms-font);
  color: brown;
}

button {
  font-family: var(--ms-font);
  color: black;
}

a:link,
a:visited {
  color: var(--link-blue);
}

a:hover {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  text-align: left;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boldy-going {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
