.card {
  display: flex;
  flex-direction: column;
}

.card a:hover {
  color: var(--mantine-primary-color-6);
}

.imageWrapper {
  border-radius: var(--mantine-radius-md);
  height: 200px;
  overflow: hidden;
}

.imageLink {
  display: block;
  height: 100%;
  position: relative;
}

.image {
  object-fit: cover;
}
