.card {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
}

.image {
  object-fit: cover;
}
