@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

body {
  background-attachment: fixed;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/background.avif");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}
