.nav {
  @apply relative;
}

.navContainer {
  @apply flex items-center justify-between xl:hidden;
}

.navButton {
  @apply flex rounded p-2 xl:hidden;
  @apply bg-gray-700 hover:bg-gray-500 dark:bg-gray-800 hover:dark:bg-gray-600;
  @apply text-2xl text-white shadow;
  @apply transition-colors duration-200 ease-in-out;
}

.linkContainer {
  @apply absolute right-0 top-12 z-10 text-left;
  @apply flex-col gap-4 rounded-lg p-8;
  @apply xl:static xl:flex xl:flex-row xl:items-center xl:justify-center xl:rounded-none xl:bg-transparent xl:shadow-none;
  @apply bg-white dark:bg-gray-800 xl:dark:bg-gray-950;
}

.link {
  @apply text-xl hover:underline;
}

.icons {
  @apply flex gap-8 xl:gap-4;
}

.icon {
  @apply hover:text-gray-400;
}
