.navLink {
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-md);
  scale: 100%;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navLink:hover {
  color: var(--mantine-primary-color-5);
  scale: 105%;
}
