:root {
  --link-color: #111;
  --link-hover-color: #b1b1b1;
  --link-background-color: #fff;
  --text-shadow: 0 0 0.2rem rgb(0 0 0 / 50%);
}

html,
body,
h1,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #fff;
  cursor: pointer;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    sans-serif;
  font-size: 18px;
  line-height: 1.625;
  text-shadow: var(--text-shadow);
}

aside {
  filter: brightness(0.8);
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

main {
  align-items: end;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

header,
footer {
  z-index: 2;
}

footer {
  margin: 16px 0 0;
}

.hero {
  height: 100vh;
  width: 100vw;
  fill: #fff;
}

h1 {
  font-size: 36px;
  line-height: 2;
  margin-top: 0;
}

a {
  background-color: var(--link-background-color);
  border-radius: 100%;
  box-shadow: var(--text-shadow);
  color: var(--link-color);
  display: inline-flex;
  padding: 8px;
  text-decoration: none;
  text-shadow: none;
}

a:hover {
  background-color: var(--link-hover-color);
}

a:visited {
  color: var(--link-color);
}

.ti {
  font-size: 24px;
}

@media screen and (width >= 600px) {
  h1,
  p {
    text-align: right;
  }

  footer {
    margin: 32px 0 0;
  }
}
