---
---

@import "{{ site.theme }}";

hr {
  margin: 32px 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 722px;
}

.site-header .container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px dashed #b5e853;
  margin: 40px 0 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.entry-title {
  font-size: 34px;
  margin-bottom: 0;
}

.byline {
  font-size: 13px;
  margin-bottom: 40px;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.full-width {
  margin-bottom: 16px;
  position: relative;

  @media (min-width: 1024px) {
    left: -64px;
    width: calc(100% + 128px);
  }

  @media (min-width: 1280px) {
    left: -256px;
    width: calc(100% + 512px);
  }
}

.wide {
  margin-bottom: 16px;
  position: relative;

  @media (min-width: 1024px) {
    left: -115px;
    width: calc(100% + 240px);
  }
}

@media screen and (min-width: 768px) {
  .site-header .container {
    align-items: unset;
    flex-direction: row;
    justify-content: space-between;
  }

  .site-navigation {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .align-left {
    float: left;
    margin: 5px 16px 5px -100px;
  }

  .align-right {
    float: right;
    margin: 5px -100px 5px 16px;
  }

  .align-center {
    margin: 0 auto 16px;
    text-align: center;
  }
}
