---
---

@import "{{ site.theme }}";

.container {
  width: 90%;
  max-width: 722px;
  margin: 0 auto;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 40px 0 0;
}

.photo {
  height: auto;
  width: 100%;
}

.entry-title {
  font-size: 34px;
  margin-bottom: 0;
}

.byline {
  font-size: 13px;
  margin-bottom: 40px;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
}
