---
---

$alto: #d0d0d0;
$apple-blossom: #ac4142;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$header: $conifer !default;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;

$blockquote-border: $dove-grey !default;
$blockquote-color: $silver-chalice !default;
$body-background: $cod-grey !default;
$body-foreground: $gallery !default;

$container-max-width: 755px;

@mixin media-max-width($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $body-background;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal,
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal,
    monospace;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
  margin: 0 0 20px;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: $container-max-width;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

li {
  line-height: 1.4;
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed $conifer;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal,
    monospace;
  color: $conifer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  @include media-max-width($container-max-width) {
    margin-left: 0;
  }
}

header h1:before {
  content: './ ';
  font-size: 24px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%;
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style: disc;
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
  margin: 32px 0;
}

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(
    top,
    rgba(40, 40, 40, 0.3),
    rgba(35, 35, 35, 0.3) 50%,
    rgba(10, 10, 10, 0.3) 50%,
    rgba(0, 0, 0, 0.3)
  );
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(
    top,
    rgba(40, 40, 40, 0.6),
    rgba(35, 35, 35, 0.6) 50%,
    rgba(10, 10, 10, 0.8) 50%,
    rgba(0, 0, 0, 0.8)
  );
}

.btn .icon {
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url('../images/blacktocat.png') 0 0 no-repeat;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

#a-title {
  text-decoration: none;
}

.highlight {
  $plaintext: $alto !default;
  $string: $chelsea-cucumber !default;
  $literal: $chelsea-cucumber !default;
  $keyword: $bouquet !default;
  $error-foreground: $cod-grey !default;
  $error-background: $apple-blossom !default;
  $comment: $grey !default;
  $preprocessor: $rajah !default;
  $name-space: $rajah !default;
  $name-attribute: $hippie-blue !default;
  $operator: $rajah !default;
  $keyword-type: $raw-sienna !default;
  $regex: $gulf-stream !default;
  $string-escape: $potters-clay !default;
  $deleted: $apple-blossom !default;
  $header: $hippie-blue !default;

  color: $plaintext;

  table td {
    padding: 5px;
  }
  table pre {
    margin: 0;
  }
  .w {
    color: $plaintext;
  }
  .err {
    color: $error-foreground;
    background-color: $error-background;
  }
  .c,
  .cd,
  .cm,
  .c1,
  .cs {
    color: $comment;
  }
  .cp {
    color: $preprocessor;
  }
  .o,
  .ow {
    color: $operator;
  }
  .p,
  .pi {
    color: $plaintext;
  }
  .gi {
    color: $string;
  }
  .gd {
    color: $deleted;
  }
  .gh {
    color: $header;
    font-weight: bold;
  }
  .k,
  .kn,
  .kp,
  .kr,
  .kv {
    color: $keyword;
  }
  .kc,
  .kt,
  .kd {
    color: $keyword-type;
  }
  .s,
  .sb,
  .sc,
  .sd,
  .s2,
  .sh,
  .sx,
  .s1 {
    color: $string;
  }
  .sr {
    color: $regex;
  }
  .si,
  .se {
    color: $string-escape;
  }
  .nt,
  .nn,
  .nc,
  .no {
    color: $name-space;
  }
  .na {
    color: $name-attribute;
  }
  .m,
  .mf,
  .mh,
  .mi,
  .il,
  .mo,
  .mb,
  .mx {
    color: $literal;
  }
  .ss {
    color: $string;
  }
}

.site-header .container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px dashed #b5e853;
  margin: 40px 0 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.entry-title {
  font-size: 34px;
  margin-bottom: 0;
}

.byline {
  font-size: 13px;
  margin-bottom: 40px;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.full-width {
  margin-bottom: 16px;
  position: relative;

  @media (min-width: 1024px) {
    left: -64px;
    width: calc(100% + 128px);
  }

  @media (min-width: 1280px) {
    left: -256px;
    width: calc(100% + 512px);
  }
}

.wide {
  margin-bottom: 16px;
  position: relative;

  @media (min-width: 1024px) {
    left: -115px;
    width: calc(100% + 240px);
  }
}

.photo {
  margin-bottom: 2rem;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .site-header .container {
    align-items: unset;
    flex-direction: row;
    justify-content: space-between;
  }

  .site-navigation {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .align-left {
    float: left;
    margin: 5px 16px 5px -100px;
  }

  .align-right {
    float: right;
    margin: 5px -100px 5px 16px;
  }

  .align-center {
    margin: 0 auto 16px;
    text-align: center;
  }
}
