.search {
  @apply relative flex flex-col items-center;
}

.loading {
  @apply animate-spin duration-1000 ease-linear motion-reduce:hidden;
}

.results {
  @apply absolute left-0 right-0 top-14 z-50;
  @apply rounded-lg bg-gray-100 px-4 shadow-lg dark:bg-gray-800;
}

.number {
  @apply border-b border-b-orange-300 font-bold;
}

.query {
  @apply bg-orange-300 p-1 text-zinc-800;
}

.title {
  @apply m-0 p-0;
}
