@font-face {
  font-family: camera-icons;
  font-style: normal;
  font-weight: normal;
  src: url('/camera-icons.woff2') format('woff2');
}

.photoGrid {
  @apply mt-16 flex flex-col gap-16;
}

.photo {
  @apply flex flex-col gap-4 rounded-xl p-4 lg:flex-row;
  @apply shadow-lg shadow-gray-200 dark:shadow-gray-900;
  @apply border border-gray-200 hover:border-gray-200 dark:border-gray-800 dark:hover:border-gray-900;
  @apply bg-gray-100 hover:bg-gray-200;
  @apply dark:bg-gray-900 dark:hover:bg-gray-800;
}

.meta {
  @apply flex min-w-[170px] flex-wrap gap-4 text-sm text-gray-500 lg:flex-col lg:gap-1;
}

.link {
  @apply flex flex-col gap-4;
}

.details {
  @apply flex items-center justify-start gap-1;
}

.icon {
  font-family: camera-icons, sans-serif;
}

.focalLength {
  @apply icon;

  &::before {
    content: '\e600';
  }
}

.shutterSpeed {
  @apply icon;

  &::before {
    content: '\e601';
  }
}

.iso {
  @apply icon;

  &::before {
    content: '\e602';
  }
}

.camera {
  @apply icon;

  &::before {
    content: '\e603';
  }
}

.aperture {
  @apply icon;

  &::before {
    content: '\e604';
  }
}

.caption {
  @apply text-left text-base;
}
