@reference "../../app/globals.css";

@font-face {
  font-family: camera-icons;
  font-style: normal;
  font-weight: normal;
  src: url('/camera-icons.woff2') format('woff2');
}

.photoGrid {
  @apply mt-16 flex flex-col gap-16;
}

.photo {
  @apply flex flex-col gap-4 rounded-xl p-4 lg:flex-row;
  @apply shadow-lg shadow-zinc-200 dark:shadow-zinc-900;
  @apply border border-zinc-200 hover:border-zinc-200 dark:border-zinc-800 dark:hover:border-zinc-900;
  @apply bg-zinc-100 hover:bg-zinc-200;
  @apply dark:bg-zinc-900 dark:hover:bg-zinc-800;
}

.meta {
  @apply flex min-w-[170px] flex-wrap gap-4 text-sm text-zinc-500 lg:flex-col lg:gap-1;
}

.link {
  @apply flex flex-col gap-4;
}

.details {
  @apply flex items-center justify-start gap-1;
}

.focalLength {
  .icon {
    font-family: camera-icons, sans-serif;
  }

  &::before {
    content: '\e600';
  }
}

.shutterSpeed {
  .icon {
    font-family: camera-icons, sans-serif;
  }

  &::before {
    content: '\e601';
  }
}

.iso {
  .icon {
    font-family: camera-icons, sans-serif;
  }

  &::before {
    content: '\e602';
  }
}

.camera {
  .icon {
    font-family: camera-icons, sans-serif;
  }

  &::before {
    content: '\e603';
  }
}

.aperture {
  .icon {
    font-family: camera-icons, sans-serif;
  }

  &::before {
    content: '\e604';
  }
}

.caption {
  @apply text-left text-base;
}
